.to-do-card-warp{
  border-radius: 10px;
  // border:green 1px solid;
  padding: 30px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  margin-bottom: 30px;
  min-width: 300px;
  cursor: pointer;
  .card-title{
    font-size: 24px;
    margin-bottom: 10px;
  }
  .card-description{
    font-size: 18px;
    margin-bottom: 10px;
    color: #666;
  }
  .card-date{
    font-size: 14px;
    color: #666;
  }
}


@media only screen and (max-width: 768px) {
  .to-do-card-warp{
    width: 150px;
    min-width: unset;
    .card-title{
      font-size: 16px;
    }
    .card-description{
      font-size: 12px;
      margin-bottom: 10px;
      color: #666;
    }
    .card-date{
      font-size: 10px;
      color: #666;
    }
  }
}

@media only screen and (min-width: 768px) {
  .to-do-card-warp{
    width: 200px;
    min-width: unset;
    .card-title{
      font-size: 18px;
    }
    .card-description{
      font-size: 14px;
      margin-bottom: 10px;
      color: #666;
    }
    .card-date{
      font-size: 12px;
      color: #666;
    }
  }
}

@media only screen and (min-width: 992px) {
  .to-do-card-warp{
    width: 220px;
    min-width: unset;
    .card-title{
      font-size: 20px;
    }
    .card-description{
      font-size: 16px;
      margin-bottom: 10px;
      color: #666;
    }
    .card-date{
      font-size: 12px;
      color: #666;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .to-do-card-warp{
    width: 300px;
    .card-title{
      font-size: 24px;
    }
    .card-description{
      font-size: 18px;
      margin-bottom: 10px;
      color: #666;
    }
    .card-date{
      font-size: 14px;
      color: #666;
    }
  }
}